In [31]:
import pandas
df =pandas.read_csv("data(1).csv")

In [32]:
df.head(10)

,DATE,DATE_NAME,DATE_CODE,DATE_TYPE,DATE_TYPECODE,DATE_SORTORDER,CURRENTLY_RESIDING_IN,CURRENTLY_RESIDING_IN_NAME,CURRENTLY_RESIDING_IN_CODE,CURRENTLY_RESIDING_IN_TYPE,...,MEASURES,MEASURES_NAME,OBS_VALUE,OBS_STATUS,OBS_STATUS_NAME,OBS_CONF,OBS_CONF_NAME,URN,RECORD_OFFSET,RECORD_COUNT
0,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,2,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162148d0d20100,0,405769
1,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162149d0d20100,1,405769
2,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162150d0d20100,2,405769
3,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162151d0d20100,3,405769
4,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162152d0d20100,4,405769
5,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162153d0d20100,5,405769
6,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,1,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162154d0d20100,6,405769
7,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162155d0d20100,7,405769
8,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162156d0d20100,8,405769
9,2011,2011,2011,date,0,0,1254162148,E00067299,E00067299,2011 output areas,...,20100,Value,0,A,Normal Value,F,Free (free for publication),Nm-1228d1d32176e0d1254162148d1254162157d0d20100,9,405769

In [33]:
df.columns

Index(['DATE', 'DATE_NAME', 'DATE_CODE', 'DATE_TYPE', 'DATE_TYPECODE',
       'DATE_SORTORDER', 'CURRENTLY_RESIDING_IN', 'CURRENTLY_RESIDING_IN_NAME',
       'CURRENTLY_RESIDING_IN_CODE', 'CURRENTLY_RESIDING_IN_TYPE',
       'CURRENTLY_RESIDING_IN_TYPECODE', 'CURRENTLY_RESIDING_IN_SORTORDER',
       'PLACE_OF_WORK', 'PLACE_OF_WORK_NAME', 'PLACE_OF_WORK_CODE',
       'PLACE_OF_WORK_TYPE', 'PLACE_OF_WORK_TYPECODE',
       'PLACE_OF_WORK_SORTORDER', 'MEASURES', 'MEASURES_NAME', 'OBS_VALUE',
       'OBS_STATUS', 'OBS_STATUS_NAME', 'OBS_CONF', 'OBS_CONF_NAME', 'URN',
       'RECORD_OFFSET', 'RECORD_COUNT'],
      dtype='object')

In [34]:
df =df.drop(columns=['DATE', 'DATE_NAME', 'DATE_CODE', 'DATE_TYPE', 'DATE_TYPECODE',
       'DATE_SORTORDER', 'CURRENTLY_RESIDING_IN', 'CURRENTLY_RESIDING_IN_NAME','CURRENTLY_RESIDING_IN_TYPE',
       'CURRENTLY_RESIDING_IN_TYPECODE', 'CURRENTLY_RESIDING_IN_SORTORDER',
       'PLACE_OF_WORK', 'PLACE_OF_WORK_NAME',
       'PLACE_OF_WORK_TYPE', 'PLACE_OF_WORK_TYPECODE',
       'PLACE_OF_WORK_SORTORDER', 'MEASURES', 'MEASURES_NAME',
       'OBS_STATUS', 'OBS_STATUS_NAME', 'OBS_CONF', 'OBS_CONF_NAME', 'URN',
       'RECORD_OFFSET'])

In [35]:
df.head(10)

  CURRENTLY_RESIDING_IN_CODE PLACE_OF_WORK_CODE  OBS_VALUE  RECORD_COUNT
0                  E00067299          E00067299          2        405769
1                  E00067299          E00067300          0        405769
2                  E00067299          E00067301          0        405769
3                  E00067299          E00067302          0        405769
4                  E00067299          E00067303          0        405769
5                  E00067299          E00067304          0        405769
6                  E00067299          E00067305          1        405769
7                  E00067299          E00067306          0        405769
8                  E00067299          E00067307          0        405769
9                  E00067299          E00067308          0        405769

In [36]:
df.shape

(405769, 4)

In [37]:
df =df[df["OBS_VALUE"]!=0]
df["OBS_VALUE"].unique()

array([  2,   1,   4,   7,  10,   3,   5,   6,   8,   9,  14,  15,  11,
        17,  13,  12,  19,  22,  18,  20,  24,  16,  25,  28,  29, 199,
        31,  23,  26,  27,  21,  35,  37,  34,  76,  40,  42,  43])

In [38]:

df.shape

(31023, 4)

In [39]:
df.head(10)

   CURRENTLY_RESIDING_IN_CODE PLACE_OF_WORK_CODE  OBS_VALUE  RECORD_COUNT
0                   E00067299          E00067299          2        405769
6                   E00067299          E00067305          1        405769
22                  E00067299          E00067322          2        405769
29                  E00067299          E00067331          1        405769
32                  E00067299          E00067334          1        405769
43                  E00067299          E00067346          1        405769
70                  E00067299          E00067374          1        405769
71                  E00067299          E00067375          1        405769
80                  E00067299          E00067384          4        405769
98                  E00067299          E00067402          7        405769

In [41]:
df["CURRENTLY_RESIDING_IN_CODE"].value_counts().describe()

count    637.000000
mean      48.701727
std       10.341901
min       16.000000
25%       42.000000
50%       49.000000
75%       55.000000
max       83.000000
Name: CURRENTLY_RESIDING_IN_CODE, dtype: float64

In [44]:
df.to_csv("filtered_york_data.csv",index=False)

In [61]:
reside=set(df["CURRENTLY_RESIDING_IN_CODE"].values)
work=set(df["PLACE_OF_WORK_CODE"].values)
intersect=reside.intersection(work)
len(intersect)

593

In [57]:
#df["PLACE_OF_WORK_CODE"].value_counts()

ValueError: Length of values (593) does not match length of index (31023)